on init

    mount rootfs rootfs / rw remount

	chmod 777 /dev/ttyGS0
    symlink /dev/ttyGS0 /dev/acm0

# Create mountpoints and mount tmpfs
    mkdir /tmp 0777 system system
    mount tmpfs tmpfs /tmp size=2m

# Configure kernel options
    # Enable automatic power control for EHCI USB IPC
    write /sys/devices/platform/ehci-omap.0/usb1/power/level auto
    # Disable automatic power control for OHCI USB IPC Temporarily
    write /sys/devices/platform/ohci.0/usb2/2-3/power/level on
    # Reset system time
    write /sys/class/rtc/rtc0/unsecured_rtc on

    # Set core pattern
	write /proc/sys/kernel/core_pattern "|/system/bin/coredump %e %p %t"

    # Power Management
    write /sys/power/clocks_off_while_idle 1

    chown radio radio /dev/ttyS0
    chmod 640 /dev/ttyS0

# Create basic filesystem structure
    # create moto specific dirs for mystuff
    mkdir /data/download 0775 system system
    mkdir /data/download/mystuff 0775 system system

    # create moto specific dirs for wifi
    mkdir /data/system 0771 system system
    # wifi dirs
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    mkdir /config 0775 system system
    mount yaffs2 mtd@pds /config ro

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth uart
    chown bluetooth bluetooth /dev/ttyS1
    chmod 0660 /dev/ttyS1

    mkdir /data/pds 0775 system system

    # Temp workaround for HP library cleanup
    symlink /dev/hp3a-omap /dev/hp3A-omap

    # Permissions for DspBridge
     chmod 0666 /dev/DspBridge

    # Permissions for video
    chmod 0770 /dev/hp3a-omap
    chmod 0770 /dev/video0
    chmod 0770 /dev/video1
    chmod 0770 /dev/video2
    chown media camera /dev/hp3a-omap
    chown media camera /dev/video0
    chown media graphics /dev/video1
    chown media graphics /dev/video2

    mount rootfs rootfs / ro remount

on boot

# Set property strings for ATVC
    setprop sys.atvc_allow_bp_log 1
    setprop sys.atvc_allow_gki_log 1
    setprop sys.atvc_allow_ap_mot_log 1
    setprop sys.atvc_allow_all_core 1
    setprop sys.atvc_allow_res_core 1
    setprop sys.atvc_allow_res_panic 1
    setprop sys.atvc_allow_efem 1
    setprop sys.atvc_allow_netmon_usb 1
    setprop sys.atvc_allow_netmon_ih 1
    setprop sys.atvc_allow_all_adb 1

# Change the ownership of led files.
   chown system system /sys/class/leds/lcd-backlight/als
   chown system system /sys/class/leds/red/blink

# Start services
    exec /system/bin/mot_boot_mode

# Set core max size (2G)
    setrlimit 4 2147483648 2147483648

# The properties introduced by moto

on property:sys.chargeonly.mode=1
    start battd
    start console
    exec /sbin/charge_only_mode

# Power up to normal
on property:tcmd.suspend=0
    class_start pre-zygote_services
    class_start zygote_services
    class_start post-zygote_services

# Power up to suspend 
on property:tcmd.suspend=1
    class_start pre-zygote_services
    class_start post-zygote_services

# Normal to suspend 
on property:tcmd.suspend=2
    class_stop zygote_services

# aplogd on at boot in emulator
on property:ro.kernel.qemu=1
    start aplogd

on property:persist.service.aplogd.enable=1
    start aplogd

on property:persist.service.aplogd.enable=0
    stop aplogd

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

# The following services are added by moto

#service watchdogd  /system/bin/watchdogd
#    class pre-zygote_services

# adbd is controlled by the persist.service.adb.enable system property
service mot_adbd /sbin/adbd
    class pre-zygote_services
    oneshot

service telnet /system/bin/telnetd
    class pre-zygote_services
    oneshot

# start start_ts27010mux.sh to load ts27010mux.ko. 
# If insmod return 1, this modules will be rmmoduled.
service ts27010mux /system/bin/sh /system/usr/bin/start_ts27010mux.sh
    class pre-zygote_services
    oneshot

service battd /system/bin/battd 
    class pre-zygote_services
    socket battdsock stream 0660 root mount
    oneshot

service catcommands /system/bin/catcommands
    class pre-zygote_services

service hciattach /system/bin/hciattach \
    -n -t 10 /dev/ttyS1 texasalt 1500000 flow
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    
service tcmd /system/bin/tcmd
    class post-zygote_services
    socket local_tcmd stream 666
    oneshot

service wlan_loader /system/bin/wlan_loader \
    -f /system/etc/wifi/fw1271_204.bin -i /system/etc/wifi/tiwlan.ini \
    -e /config/wifi/nvs_map.bin
    class post-zygote_services
    disabled
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class post-zygote_services
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -BKL tiwlan0
    class post-zygote_services
    disabled
    oneshot

service baseimage /system/bin/cexec.out -v /system/lib/dsp/baseimage.dof
    class post-zygote_services
    oneshot

service pppd /system/xbin/pppd silent plugin /system/lib/libpppd_plugin.so
    class post-zygote_services
    user root
    disabled
    oneshot

service locDrv /system/usr/bin/brcm_guci_drv -config /system/etc/gpsconfig.xml
    class post-zygote_services
    user root
    group system
    oneshot 

service setup_bt /system/bin/sh /system/usr/bin/setup_bt.sh
    class post-zygote_services
    oneshot

service opp /system/bin/sdptool add --channel=12 OPUSH
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    class post-zygote_services
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pm_init /system/bin/sh /system/usr/bin/pm_init.sh
    class post-zygote_services
    oneshot

# aplogd is controlled by the persist.service.aplogd.enable system property
service aplogd /system/bin/aplogd
    class post-zygote_services

service ftmipcd  /system/bin/ftmipcd
    class post-zygote_services
    oneshot

service fwupgraded /system/bin/fwupgrade
    class post-zygote_services
    disabled 
    oneshot 

service dund_dialup /system/bin/dund --listen --channel=6 --nodetach --dialup
    class post-zygote_services
    disabled
    oneshot

service dunipcd /system/bin/dunipcd
    class post-zygote_services
    disabled
    oneshot
